* {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}
body {
  background-color: rgb(116, 116, 116);
}
table {
  margin-top: 50px;
  text-align: center;
  background: #333;
  color: #fff;
  margin-left: 35%;
}
 
 
#show th,
#show td {
  padding: 13px;
}

#btna td input {
  width: 100%;
}
