* {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}
body {
  background-color: rgb(2, 10, 58);
}
table,
div {
  margin-top: 50px;
  text-align: center;
  background: rgba(24, 19, 116, 0.648);
  color: #fff;
  margin-left: 20%;
}

#show th,
#show td {
  padding: 13px;
}

#btna td input {
  width: 100%;
}
